<!DOCTYPE html>
<html>
    <head>
        <meta charlist="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title>localhost</title>
    </head>
    <body>
        <h1 class="title">index of
            <?php
            $path = pathinfo($_SERVER['PHP_SELF']);
            echo $path["dirname"];
            ?></h1>
        <div class="d_fs">
            <h2>directories</h2>
            <?php
            include("./directories.php")
            ?>
        </div>
        <div class="d_fs">
            <h2>files</h2>
            <ul>
                <li><a href="index.html"></a>index.html</li>
            </ul>
        </div>
    </body>
</html>
