body {
    margin: 5px;
    background-color: #fff;
}

.body-title {
    margin: 5px 5px 20px 5px;
    color: blue;
}

.br {
    display: block;
}

.contents {
    background-color: aqua;
    width: auto;
}
