<!DOCTYPE html>
<html>
    <head>
        <meta charlist="utf-8">
        <link rel="stylesheet" href="/Templates/stylesheets/dir/style.css">
        <link rel = "icon" href="/icon.ico">
        <title>localhost</title>
    </head>
    <body>
        <h1 class="title">Index of
            <?php
            $path = pathinfo($_SERVER['PHP_SELF']);
            echo $path["dirname"];
            ?></h1>
        <div class="d_fs">
            <h2>directories</h2>
            <?php
            include("./directories.php")
            ?>
        </div>
        <div class="d_fs">
            <h2>files</h2>
            <?php
            include("./files.php")
            ?>
        </div>
    </body>
</html>
