<!DOCTYPE html>
<html>
    <head>
        <title>The localhost</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/Templates/stylesheets/html/style.css">
        <!-- <link rel="stylesheet" href="/Templates/stylesheets/php/doc_style.css"> -->
    </head>
    <body>
        <a href="./.." class="parent_dir">Parent directory</a>
        <h1 class="title">Title</h1>
        <h2 class="subtitle">Subtitle</h2>
<!-- ================= edit here ================ -->
        <div class="contents">
            <form class="connect" action="./main.php">
                <p>enter password</p>
                <input type="password" name="comment" method="get">
                <input type="submit" value="send">
            </form>
        </div>
<!-- ================= edit here ================ -->
    </body>
</html>
