body {
    display: block;
    margin: 8px;
}

.d_fs {
    background-color: antiquewhite;
}

.d_fs h2 {
    margin: 0px;
}

.d_fs ul {
    margin: 0px;
}

.br {
    display: block;
}

.title {
    margin: 5px 0px 15px 0px
}
